[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-bigquery = "*"
google-cloud-storage = "*"
google-cloud-pubsub = "*"
openpyxl = "*"
flask = "==2.3.1"
gunicorn = "==20.1.0"
pandas = "==1.2.4"
httpx = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.11"
